Django==4.1
djangorestframework==3.13.1
tmp/build/80754af9/numexpr_1618856529730/work
numpy==1.22.3
Pillow==9.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
